before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-utils

script: ./buildpluginsxml.sh

notifications:
  email:
    recipients:
      - sean.stuckless@gmail.com
      - fuzzy@weirdness.com
    on_success: always
    on_failure: always
