<?xml version="1.0" encoding="UTF-8"?>
	<SageTVPlugin>
		<Name>The Movie DB Library</Name>
		<Identifier>themoviedb</Identifier>
		<Description>The Movie DB Library</Description>
		<Author>stuckless</Author>
		<CreationDate>2013.04.19</CreationDate>
		<ModificationDate>2016.08.31</ModificationDate>
		<Version>3.0.1.1</Version>
		<PluginType>Library</PluginType>
		<Dependency>
			<Plugin>slf4j-api</Plugin>
			<MinVersion>1.6.0</MinVersion>
		</Dependency>
		<Dependency>
			<Plugin>jackson-core</Plugin>
			<MinVersion>2.1.4</MinVersion>
		</Dependency>
		<Dependency>
			<Plugin>jackson-annotations</Plugin>
			<MinVersion>2.1.4</MinVersion>
		</Dependency>
		<Dependency>
			<Plugin>jackson-databind</Plugin>
			<MinVersion>2.1.4</MinVersion>
		</Dependency>
		<Dependency>
			<Plugin>jackson-databind</Plugin>
			<MinVersion>2.1.4</MinVersion>
		</Dependency>
		<Package>
			<PackageType>JAR</PackageType>
			<Location>http://dl.bintray.com/opensagetv/sagetv-plugins/libraries/themoviedb-3.0.1.zip</Location>
			<MD5>20b0ce17a7fca5c4cea2a150787f97d3</MD5>
		</Package>
		<ReleaseNotes>Library used by Phoenix and TheMovieDB</ReleaseNotes>
	</SageTVPlugin>
