<SageTVPlugin>
  <Name>SageTV Web Interface</Name>
  <Identifier>Web</Identifier>
  <Description>Manage SageTV activity, media files, and playlists from desktop web browsers.</Description>
  <Author>nielm, jreichen, Slugger, skiingwiz</Author>
  <CreationDate>2004.11.18</CreationDate>
  <ModificationDate>2021.12.17</ModificationDate>
  <Version>4.0.0</Version>
  <Desktop>false</Desktop>
  <ResourcePath>webserver</ResourcePath>
  <Webpage title="Web Interface Wiki">http://tools.assembla.com/sageplugins/wiki/WebServer</Webpage>
  <Webpage title="GeekTonic Review">http://www.geektonic.com/2008/03/sagetv-web-interface-control-sagetv.html</Webpage>
  <ReleaseNotes>
    <![CDATA[
Version 4.0.0
1. Changes to support Jetty 9.
2. Drop support for embedded HTTP server (require Jetty)

Version 3.3.1
1. Fix showing null Season in some cases.
2. Fix roles interfering with actor links.

Version 3.3
1. EPG using scheduling lookahead setting to determine number of days in drop-down
2. Don't overwrite Jetty context when updating plugin

Version 3.2.2
1. Fix missing Remove Favorite option from Favorite Details

Version 3.2
1. New minimum versions for Java (7) and SageTV (9)
2. Support for disabled favorites
3. Genre search includes sub-genres
4. Support AND/OR genre searches
5. Support for searching by rating
6. Support for searching by parental rating

Version 3.0.2
1. Fix for EPG Cell Overflow (Jason Bean)

Version 3.0.1
1. Build against JavaSE 5.0 for compatability

Version 3.0
1. Fix failure with v9 and Actor/Team Favorites
2. Detailed info now shows all categories/genres
3. Remove dependency on salicense
4. Remove the "Generated By" comment in GSP templates
5. Changed build to gradle to make it easier for developers to get started

Version 2.43
1. Fix relative url bug with menu images in groovy header template
2. Isolate user groovy includes into webserver/groovy/_classes/ directory
3. Change default jQuery UI template to something that sort of fits with other CSS
 
Version 2.42
1. Restore internal image server classes that I thought were dead code
 
Version 2.41
1. Update jQuery version; pull lib from Google servers
2. Add support to restart SageTV from web UI (experimental)
3. Add spport to run JVM GC from web UI (experimental)
4. Update ddsmoothmenu to latest available
5. Build updates to support move back to SourceForge
 
Version 2.40
1. Issue 361: Add support for button options in online plugin manager
 
Version 2.39
1. Issue 357: Ensure menu injections are processed only once
2. Fix invalid relative references to images in groovy header/footer
 
Version 2.38
1. Issue 356: Fix invalid reference to background image in CSS
2. Issue 352: Fix typo on schedule recording page
3. Issue 329: Move command buttons to top of System Messages page
4. Fix bug with menu injections where injections into existing menus didn't work
 
Version 2.37
1. Migrate source code from svn to git
2. Build fixes to support building from git
3. Fix bug in Firefox where menu would push title area off the screen
 
Version 2.36
1. Fix Plugin Manager bug where list options were not defaulting to the current value
2. Use new jQuery based menu; allows for user injected custom additions
 
Version 2.35
1. Fixes to support Groovy 2.0
 
Version 2.34
1. Increase min version of sagetv-addons license plugin required to allow client installs
2. Issue 334: Refresh plugin manifest from server on each load of the Plugin Manager web UI
 
Version 2.33
 1. Add support for groovy and GSP processing from plugin resource path
 2. SREv4: Web UI updates to support new GSP policies
 3. Add media file metadata editor (new feature; beta quality)
 4. Add favourite properties editor (new feature; beta quality)
 5. Issue 317: tvdb id editor did not handle custom show ids properly
 6. Issue 320: Add SREv4 status icons where appropriate
 7. Add UserRecord editor (new feature; beta quality)
 8. Add Plugin Manager (new feature; beta quality)
 9. Issue 327: Use gtools lib for extender commands
 
NOTE: Be sure to clear your browser cache thoroughly after installing this update!
    ]]>
  </ReleaseNotes>
  <Dependency>
    <Core/>
    <MinVersion>9.0.14</MinVersion>
  </Dependency>
  <Dependency>
    <JVM/>
    <MinVersion>1.8</MinVersion>
  </Dependency>
  <Dependency>
    <Plugin>sageutls</Plugin>
    <MinVersion>1.4.2</MinVersion>
  </Dependency>
  <Dependency>
    <Plugin>sagexmlinfo</Plugin>
    <MinVersion>1.4</MinVersion>
  </Dependency>
  <Dependency>
    <Plugin>Jetty</Plugin>
    <MinVersion>3.0.1</MinVersion>
  </Dependency>
  <Dependency>
  	<Plugin>groovy</Plugin>
  	<MinVersion>2.0.5</MinVersion>
  </Dependency>
  <Dependency>
  	<Plugin>sagex-api</Plugin>
  	<MinVersion>9.2.6.1</MinVersion>
  </Dependency>
  <Dependency>
  	<Plugin>commons-lang</Plugin>
  	<MinVersion>1.0</MinVersion>
  </Dependency>
  <Dependency>
  	<Plugin>json</Plugin>
  	<MinVersion>1.0</MinVersion>
  </Dependency>
  <Dependency>
  	<Plugin>gtools</Plugin>
  	<MinVersion>1.0.3</MinVersion>
  </Dependency>
  <PluginType>Standard</PluginType>
  <Package>
    <PackageType>JAR</PackageType>
    <Location>https://bitbucket.org/skiingwiz/sagetv-webui/downloads/sage-webui-jar-4.0.0.zip</Location>
    <MD5>24224d608caa972794ed48033a4a9d06</MD5>
  </Package>
  <Package>
    <PackageType>System</PackageType>
    <Location>https://bitbucket.org/skiingwiz/sagetv-webui/downloads/sage-webui-properties-4.0.0.zip</Location>
    <MD5>9ac478bee9197d4af0d3cd56464dca29</MD5>
  </Package>
  <Package>
    <PackageType>System</PackageType>
    <Location>https://bitbucket.org/skiingwiz/sagetv-webui/downloads/sage-webui-user-4.0.0.zip</Location>
    <MD5>f72c544118c6db9d0f2fe0e5b49f2fd0</MD5>
    <Overwrite>false</Overwrite>
  </Package>
  <Package>
    <PackageType>System</PackageType>
    <Location>https://bitbucket.org/skiingwiz/sagetv-webui/downloads/sage-webui-jetty-4.0.0.zip</Location>
    <MD5>bd28b7f05859ecda47e584968da841c7</MD5>
  </Package>
  <ImplementationClass></ImplementationClass>
</SageTVPlugin>
