<?xml version="1.0" encoding="UTF-8"?>
<SageTVPlugin>
  <Name>SageTV Sagex API Extensions (sagex-api)</Name>
  <Identifier>sagex-api</Identifier>
  <Description>SageTV API Wrappers with Remote API capabilities</Description>
  <Author>stuckless</Author>
  <CreationDate>2008.10.05</CreationDate>
  <ModificationDate>2021.12.21</ModificationDate>
  <Version>9.2.6.1</Version>
  <Desktop>false</Desktop>
  <ResourcePath>sagex-api</ResourcePath>
  <Webpage><![CDATA[http://forums.sagetv.com/forums/showthread.php?t=36044]]></Webpage>

  <PluginType>Library</PluginType>

  <Package>
    <PackageType>JAR</PackageType>
    <Location>https://github.com/OpenSageTV/sagetv-plugin-repo/releases/download/1/sagex-api-9.2.6.1.zip</Location>
    <MD5>fd4f6746a9a4f649536f07515bdfcbf3</MD5>
  </Package>

  <ReleaseNotes>
9.2.6
    * Build for Github sources and Jetty 9
9.1.7
    * RMI is now stateless to avoid memory leaks
    * removed deprecated and legacy RPC connectors

9.0.0
    * Upgraded to SageTV 9
  </ReleaseNotes>

  <Dependency>
    <Core/>
    <MinVersion>9.1.7</MinVersion>
  </Dependency>

  <Dependency>
    <JVM/>
    <MinVersion>1.8</MinVersion>
  </Dependency>

</SageTVPlugin>
