<SageTVPlugin>
       <Name>SageTV Groovy Tools</Name>
       <Identifier>gtools</Identifier>
       <Description>A series of Groovy tools and scripts that enhance the SageTV API.</Description>
       <Author>Slugger</Author>
       <CreationDate>2011.04.10</CreationDate>
       <ModificationDate>2018.01.26</ModificationDate>
       <Version>1.0.4</Version>
       <ResourcePath>plugins/gtools</ResourcePath>
       <Webpage>http://sagetv-addons.googlecode.com</Webpage>
       <Dependency>
       		<JVM/>
       		<MinVersion>1.7</MinVersion>
	   </Dependency>
	   <Dependency>
	   		<Plugin>commons-net</Plugin>
	   		<MinVersion>1.4.1</MinVersion>
	   </Dependency>
	   <Dependency>
	   		<Plugin>commons-lang</Plugin>
	   		<MinVersion>2.4</MinVersion>
	   </Dependency>
	   <Dependency>
	   		<Plugin>sagex-api</Plugin>
	   		<MinVersion>7.0.0</MinVersion>
	   </Dependency>
	   <Dependency>
	   		<Plugin>groovy</Plugin>
	   		<MinVersion>2.0.5</MinVersion>
	   </Dependency>
       <PluginType>Standard</PluginType>
       <Package>
               <PackageType>JAR</PackageType>
               <Location>https://github.com/JREkiwi/SagePlugins/releases/download/1/gtools-jar-1.0.4.1.zip</Location>
               <MD5>7FADDDD8B6BAEF6A13AEBC6CB374DC4E</MD5>
               <Overwrite>true</Overwrite> <!-- Defaults to true -->
       </Package>
      	<ReleaseNotes>
v1.0.4
======
Fix extender power off on linux platforms

v1.0.3
======

Add ability to power on, power off, reboot, and poll the state of media
extender devices.  These methods are in the GlobalHelpers class.

v1.0.2
======

Add UtilityHelpers class

Reclassify plugin as a library plugin instead of a standard plugin

Add Groovy plugin dependency

v1.0.1
======

Fix bug in EzRssFavorite where IOErrors were not being caught and causing
scripts to terminate prematurely.

v1.0.0
======

Initial release.
       	</ReleaseNotes>
</SageTVPlugin>
