<SageTVPlugin>
       <Name>chartjs for SageTV Web Interface</Name>
       <Identifier>chartjs4web</Identifier>
       <Description>JavaScript chart library for SageTV Web Interface</Description>
       <Author>skiingwiz</Author>
       <CreationDate>2014.11.22</CreationDate>
       <ModificationDate>2015.03.30</ModificationDate>
       <Version>1.0.2.1</Version>
       <ResourcePath>jetty/static/chartjs</ResourcePath>
       <Webpage>http://www.chartjs.org/</Webpage>
       <Dependency>
               <Plugin>web</Plugin>
               <MinVersion>2.43</MinVersion>
       </Dependency>
       <PluginType>Library</PluginType>
       <Package>
               <PackageType>System</PackageType>
               <Location>https://github.com/JREkiwi/SagePlugins/releases/download/1/chartjs-1.0.2.1.zip</Location>
               <MD5>ED0E8D191F7C1B0F8633C87FB5832068</MD5>
               <Overwrite>true</Overwrite>
       </Package>
</SageTVPlugin>
